parameters:
	ignoreErrors:
		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Connection\\\\ServiceNowConnection\\:\\:__construct\\(\\) has parameter \\$connection with no value type specified in iterable type array\\.$#"
			count: 1
			path: Connection/ServiceNowConnection.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Connection\\\\ServiceNowConnection\\:\\:callByKey\\(\\) has parameter \\$key with no typehint specified\\.$#"
			count: 1
			path: Connection/ServiceNowConnection.php

		-
			message: "#^Property EMS\\\\SubmissionBundle\\\\Connection\\\\Transformer\\:\\:\\$connections type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Connection/Transformer.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Connection\\\\Transformer\\:\\:__construct\\(\\) has parameter \\$connections with no value type specified in iterable type array\\.$#"
			count: 1
			path: Connection/Transformer.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Connection\\\\Transformer\\:\\:transform\\(\\) has parameter \\$path with no value type specified in iterable type array\\.$#"
			count: 1
			path: Connection/Transformer.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\DependencyInjection\\\\EMSSubmissionExtension\\:\\:load\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: DependencyInjection/EMSSubmissionExtension.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\DependencyInjection\\\\EMSSubmissionExtension\\:\\:load\\(\\) has parameter \\$configs with no value type specified in iterable type array\\.$#"
			count: 1
			path: DependencyInjection/EMSSubmissionExtension.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\EMSSubmissionBundle\\:\\:build\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: EMSSubmissionBundle.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\FormConfig\\\\AbstractConfig\\:\\:sanitiseQuotes\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: FormConfig/AbstractConfig.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\FormConfig\\\\AbstractConfig\\:\\:sanitiseAttachments\\(\\) has parameter \\$attachments with no value type specified in iterable type array\\.$#"
			count: 1
			path: FormConfig/AbstractConfig.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\FormConfig\\\\AbstractConfig\\:\\:sanitiseAttachments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: FormConfig/AbstractConfig.php

		-
			message: "#^Property EMS\\\\SubmissionBundle\\\\FormConfig\\\\EmailConfig\\:\\:\\$attachments type has no value type specified in iterable type array\\.$#"
			count: 1
			path: FormConfig/EmailConfig.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\FormConfig\\\\EmailConfig\\:\\:getAttachments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: FormConfig/EmailConfig.php

		-
			message: "#^Property EMS\\\\SubmissionBundle\\\\FormConfig\\\\ServiceNowConfig\\:\\:\\$attachments type has no value type specified in iterable type array\\.$#"
			count: 1
			path: FormConfig/ServiceNowConfig.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\FormConfig\\\\ServiceNowConfig\\:\\:getAttachments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: FormConfig/ServiceNowConfig.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Handler\\\\EmailHandler\\:\\:handle\\(\\) has parameter \\$form with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormInterface\\.$#"
			count: 1
			path: Handler/EmailHandler.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Handler\\\\EmailHandler\\:\\:addAttachments\\(\\) has parameter \\$attachments with no value type specified in iterable type array\\.$#"
			count: 1
			path: Handler/EmailHandler.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Handler\\\\ServiceNowHandler\\:\\:handle\\(\\) has parameter \\$form with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormInterface\\.$#"
			count: 1
			path: Handler/ServiceNowHandler.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Handler\\\\ServiceNowHandler\\:\\:postAttachment\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Handler/ServiceNowHandler.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Handler\\\\ServiceNowHandler\\:\\:postAttachment\\(\\) has parameter \\$attachment with no value type specified in iterable type array\\.$#"
			count: 1
			path: Handler/ServiceNowHandler.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Service\\\\SubmissionRenderer\\:\\:render\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Service/SubmissionRenderer.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Service\\\\SubmissionRenderer\\:\\:render\\(\\) has parameter \\$form with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormInterface\\.$#"
			count: 1
			path: Service/SubmissionRenderer.php

		-
			message: "#^Method EMS\\\\SubmissionBundle\\\\Twig\\\\ConnectionRuntime\\:\\:transform\\(\\) has parameter \\$content with no typehint specified\\.$#"
			count: 1
			path: Twig/ConnectionRuntime.php

